In [2]:
## 1) Print numbers from 1 to 5 using a while loop.

i=1
n=5
while i<=5:
    print(i)
    i=i+1

1
2
3
4
5

In [18]:
## 2) Calculate the sum of numbers from 1 to 10 using a while loop.

def the_sum_of_natural_number(N):
    sum=0
    i=1
    while i<=N:
        sum=sum+i
        i=i+1
    return sum
N=int(input("enter a number:"))
result=the_sum_of_natural_number(N)
print("the sum of ",N ,"natural number:", result)

enter a number: 25

the sum of  25 natural number: 325

In [22]:
##  3) Calculate the factorial of a number using a for loop.

def factorial_number_is(N):
    fact=1
    i=1
    while i<=N:
        fact*=i
        i+=1
    return fact
N=int(input("enter a number:"))
result= factorial_number_is(N)
print("the fact of ",N ,"natural number:", result)

enter a number: 4

the fact of  4 natural number: 24

In [5]:
## 4) Count the number of vowels in a string using a for loop.

def vowel_count(s):
    vowels = "aeiouAEIOU"
    words = s.split()
    for word in words:
        vowel_count=len(list(filter(lambda char:char in vowels, word )))
        print(f"the word is {word} and it contain {vowel_count} vowels in it")
s="rohit is very nice boys"
vowel_count(s)

the word is rohit and it contain 2 vowels in it
the word is is and it contain 1 vowels in it
the word is very and it contain 1 vowels in it
the word is nice and it contain 2 vowels in it
the word is boys and it contain 1 vowels in it

In [1]:
## 5) print a pattern using nested loops.

row=1
while row<=5:
    col=1
    while col<=row:
        print("*",end="")
        col=col+1
    print()
    row=row+1

*
**
***
****
*****

In [25]:
## 6) Generate a multiplication table using nested loops.

rows=10
columns=10
for i in range(1,rows+1):
    for j in range(1,columns+1):
        c=i*j
        print("{:2d}".format(c),end=' ')
        #print(c , end="   ")
    print("\n")

 1  2  3  4  5  6  7  8  9 10

 2  4  6  8 10 12 14 16 18 20

 3  6  9 12 15 18 21 24 27 30

 4  8 12 16 20 24 28 32 36 40

 5 10 15 20 25 30 35 40 45 50

 6 12 18 24 30 36 42 48 54 60

 7 14 21 28 35 42 49 56 63 70

 8 16 24 32 40 48 56 64 72 80

 9 18 27 36 45 54 63 72 81 90

10 20 30 40 50 60 70 80 90 100